*,
*::before,
*::after {
    font-family: OCR A Std, monospace;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(95, 2, 2);
    align-items: center;
}

.containerMus {
    color: whitesmoke;
    width: 10%;
    height: 1%;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
}

.containerImg {
    color: whitesmoke;
    width: 10%;
    height: 1%;
    padding: 5px;
    position: absolute;
    top: 4em;
    right: 0;
    justify-content: center;
}

.text {
    color: whitesmoke;
    text-align: center;
}

.container {
    width: 800px;
    max-width: 80%;
    background-image: url("./background-image.jpg");
    background-size: cover;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.buttonsGrid {
    display: grid;
    grid-template-columns: repeat(auto);
}

.btns {
    background-color: #3333;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btns:hover {
    border-color: rgb(95, 2, 2);
}